<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="Ctestemed.css">
</head>
<body>
<nav>  
  <a href="Home.html">About Marsh Creek Farm</a>
    <ul style="list-style-type: none">
        <li>
            <a href="Belties.html"> About Belties</a>
        </li>
        <li>
            <a href="Beef.html">Beef Inquiry</a>
        </li>
        <li>
            <a href="Stock.html">Stock</a>
        </li>
    </ul>
    <span>
     <a href="#Home">
        <img src="images/img_1687.jpg" width="100" height="70" alt="Test Image">
     </a>
    </span>
</nav>

<section>
    <div id="news">
        <h1>Farm News</h1>
        <h4>October 10th</h4>
        <p>We got our first beef successfully processed.
            I have a little bit left, but my brother took almost all of it
            off to Florida. It has gotten great reviews so far, but he is my
            brother and it is Florida.</p>
        <h4>November 10th</h4>
         <p>We have put up the expected schedule of when beef 
            will be available in the Calendar section through the end of 2026.
            The herd is working on what will be available in 2027.</p>
    </div>
    
    <article id="message">   
      <h1>About Belted Galloways</h1>
      <p>
        According to the Belted Galloway Society, 
        Belties are an ancient breed developed centuries ago in Galloway Scotland. 
        They are famous for their belted white stripe surrounded by black, red or dun.<sup>*</sup>
        Belties have been shown to provide more protein with just a fraction of 
        fat calories and cholesterol. <sup>#</sup>
      </p>
      
      <p>
        <sup>*</sup>
        <a href="https://beltie.org/about.php">https://beltie.org/about.php</a>
      </p>
      <p>
        <sup>#</sup>
        <a href="https://beltie.org//pdf/about/Beltie-Beef.pdf">https://beltie.org//pdf/about/Beltie-Beef.pdf</a>
      </p>
      
  </article>
    <article id="calendar">
        <h1>Calendar</h1>
        <ul>
          <li>
            <h4>Spring 2025</h4>
            <p>One Steer scheduled</p>
            <p>No Date Set</p>
          </li>
          <li>
            <h4>Fall 2025</h4>
            <p>One Steer scheduled</p>
            <p>No Date Set</p>
          </li>
          <li>
            <h4>Spring 2026</h4>
            <p>One Steer scheduled</p>
            <p>No Date Set</p>
          </li>
          <li>
            <h4>Fall 2026</h4>
            <p>Three Steers scheduled</p>
            <p>No Date Set</p>
          </li>    
        </ul>
    </article>
</section>
<footer>
  <section id="morecows">
    <div><img src="images/img_0386.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0389.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0445.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0507.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0671.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0697.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0699.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_0702.jpg" width="400" height="300" alt="Test Image"></div>
    <div><img src="images/img_1687.jpg" width="400" height="300" alt="Test Image"></div>
  </section>
</footer>
</body>
</html>