<div id="calendar">
    <h3 class="mt-5">Calendar</h3>
    <ul>
      <li>
        <h4 class="mt-3">Spring 2025</h4>
        <p class="m-0">One Steer scheduled</p>
        <p class="m-0">No Date Set</p>
      </li>
      <li>
        <h4 class="mt-3">Fall 2025</h4>
        <p class="m-0">One Steer scheduled</p>
        <p class="m-0">No Date Set</p>
      </li>
      <li>
        <h4 class="mt-3">Spring 2026</h4>
        <p class="m-0">One Steer scheduled</p>
        <p class="m-0">No Date Set</p>
      </li>
      <li>
        <h4 class="mt-3">Fall 2026</h4>
        <p class="m-0"> Three Steers scheduled</p>
        <p class="m-0">No Date Set</p>
      </li>    
    </ul>
</div>