<footer class="footer bg-dark py-3 mt-auto">
    <div>
        <h1 style="color: white">Beltie Camp</h1>
    </div>
    <div>
     
      <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0671.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0389.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0445.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0507.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0697.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0699.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_0702.jpg" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-3">
                <img src="/Images/IMG_1687.jpg" class="img-fluid" alt="image">
            </div>
        </div>
    </div>
    
  </div>
   

        
</footer>