<div id="news">
    <h3 class="mt-5">On the Farm</h3>
    <h4>November 10th</h4>
     <p>We have put up the expected schedule of when beef 
        will be available in the Calendar section through the end of 2026.
        The herd is working on what will be available in 2027.</p>
        <h4>October 10th</h4>
    <p>We got our first beef successfully processed.
        I have a little bit left, but my brother took almost all of it
        off to Florida. It has gotten great reviews so far, but he is my
        brother and it is Florida.</p>
</div>