<% layout('layouts/boilerplate'); %>

<div class="row align-items-center" style="height: 620px">
    <div class="col-2 d-none d-lg-block text-center h-100" style= "background-color: #87ceff">
      
      <%- include('./partials/newspanel') %>

    </div>
    <div class="col-12 col-md-10 col-lg-8 text-center h-100" style= "background-color: #95c21b">
      <h2 class="mt-5">About Belted Galloways</h2>
      <p class="mt-2">According to the Belted Galloway Society, 
        Belties are an ancient breed developed centuries ago in Galloway Scotland. 
        They are famous for their belted white stripe surrounded by black, red or dun.<sup>*</sup>
        Belties have been shown to provide more protein with just a fraction of 
        fat calories and cholesterol. <sup>#</sup>
          </p>
          <p>
            <sup>*</sup>
            <a href="https://beltie.org/about.php">https://beltie.org/about.php</a>
          </p>
          <p>
            <sup>#</sup>
            <a href="https://beltie.org//pdf/about/Beltie-Beef.pdf">https://beltie.org//pdf/about/Beltie-Beef.pdf</a>
          </p>


    </div>
    <div class="col-2 d-none d-md-block text-center bg-warning h-100">
      <%- include('./partials/calendar') %>
    </div>
  </div> 