<% layout('layouts/boilerplate'); %>


    <div class="row align-items-center" style="height: 620px">
      <div class="col-2 d-none d-lg-block text-center h-100" style= "background-color: #87ceff">
        
        <%- include('./partials/newspanel') %>

      </div>
      
      <div class="col-12 col-md-10 col-lg-8 text-center h-100" style= "background-color: #95c21b">
        <h2 class="mt-5">About Marsh Creek Farm</h2>
        <p class="mt-2">Marsh Creek Farm of Mathews Virginia has been operating since 2012.
            The farm is run by a semi-retired veterinarian as a sole proprietorship.
            Though she does round up help with the hay as 
            the hottest days of summer is when the hay is ready.
            The pastures have been brought up to a productive level and
            the small grass-fed herd of Belted Galloways is at capacity.
            We now offers beef and live hiefers for other ranches
            </p>
            <h4 class="mt-3">Grass-Fed Beef</h4>
            <p class="mt-2">We are looking for discerning clients that would 
                enjoy a regular supply of grass-fed beef. 
                We can be contacted at Galloway.beef@marshcreekva.com</p>
                <h4 class="mt-3">Belted Galloway Heifers</h4>
            <p class="mt-2">Our heifers are fram certified Belted Galloway stock.
                Interested parties can reach us at
                 Galloway.beef@marshcreekva.com</p>


      </div>
      
      <div class="col-2 d-none d-md-block text-center bg-warning h-100">
        <%- include('./partials/calendar') %>
      </div>
    </div> 
