<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>BeefNotes</title>
</head>
<body>
    <h1>Beef Notes</h1>
    <ul>
        <% for (let beef of beefinqs) {%>
            <li><a href="/beefinquiry/<%= beef._id %>"><%=beef.first%></li>
        <%}%>

    </ul>

</body>
</html>